<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customeredp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- Login (launcher) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Panel -->
        <activity
            android:name=".activities.AdminActivity"
            android:exported="false" />

        <!-- Clients -->
        <activity
            android:name=".activities.ClientListActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ClientFormActivity"
            android:exported="false" />

        <!-- Engagements -->
        <activity
            android:name=".activities.EngagementListActivity"
            android:exported="false" />

        <activity
            android:name=".activities.EngagementFormActivity"
            android:exported="false" />

        <!-- Deliveries -->
        <activity
            android:name=".activities.DeliveryListActivity"
            android:exported="false" />

    </application>

</manifest>